@keyframes hidden {
  0% {
    background-color: white;
  }
  50% {
    background: rgba(255, 255, 255, 0.5);
  }
  100% {
    background: transparent;
  }
}
@keyframes rotate-lower {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-45deg);
    top: 10px;
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-135deg);
    top: 0;
  }
}
@keyframes rotate-upper {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(135deg);
    top: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../assets/negative-space-black-forest-dawn.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: white;
}

.header__hamburger {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 30px 20px;
  background-color: rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 768px) {
  .header__hamburger {
    display: none;
  }
}
.header__hamburger__line {
  background-color: white;
  height: 4px;
  width: 27px;
  border-radius: 5px;
  position: relative;
}
.header__hamburger__line::before, .header__hamburger__line::after {
  background-color: white;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.header__hamburger__line::before {
  top: 9px;
}
.header__hamburger__line::after {
  top: -9px;
}

.header__checkbox {
  display: none;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    visibility: visible;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
@media screen and (min-width: 768px) {
  .nav__list__item {
    margin: 20px 25px;
  }
}
.nav__list__item__link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  line-height: 1.2;
}
.nav__list__item__link:active {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .nav__list__item__link:hover {
    text-decoration: underline;
  }
}

.header__checkbox:checked ~ nav .nav__list {
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.1);
}

.header__checkbox:checked ~ .header__hamburger .header__hamburger__line::before {
  animation: rotate-lower;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

.header__checkbox:checked ~ .header__hamburger .header__hamburger__line::after {
  animation: rotate-upper;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

.header__checkbox:checked ~ .header__hamburger .header__hamburger__line {
  animation: hidden;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header__container .header__title {
  letter-spacing: 0.8px;
  margin-bottom: 30px;
}
.header__container .header__text {
  padding: 30px 40px;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.8px;
}

.arrow--white {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
}

.arrow--black {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
}
@media screen and (min-width: 768px) {
  .main__team {
    width: 50%;
  }
}

.main__team__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .main__team__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main__title {
  margin-top: 20px;
  letter-spacing: 0.8px;
  text-align: center;
}

.main__name {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.main__pic--rakib {
  background-image: url(../assets/profiles/Rakib_Square.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
  height: 300px;
  width: 300px;
}

.main__pic--alexandra {
  background-image: url(../assets/profiles/Alexandra_Square.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
  height: 300px;
  width: 300px;
}

.main__pic--lasse {
  background-image: url(../assets/profiles/NoPerson_Square.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
  height: 300px;
  width: 300px;
}

.main__pic--sebastian {
  background-image: url(../assets/profiles/Sebastian_Square.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
  height: 300px;
  width: 300px;
}

.main__description {
  margin-top: 20px;
  background-color: lightgray;
  padding: 30px 40px;
  border-radius: 5px;
}

#quote {
  font-size: 45px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  background-color: black;
  line-height: 50px;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    padding: 30px;
  }
}
.footer .footer__adress,
.footer .footer__contact,
.footer .footer__socials {
  margin: 20px;
  width: 250px;
}

.footer__socials {
  display: flex;
  gap: 20px;
}

.socials__icons {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  padding-top: 8px;
}

.socials__name {
  display: flex;
  flex-direction: column;
  align-items: start;
  line-height: 50px;
}
.socials__name .socials__link {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=main.css.map */
