@mixin profile__info {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 30px 0 rgba($color: #000000, $alpha: 0.4);
  height: 300px;
  width: 300px;
}

/*@mixin arrow {
          ta bort??
}*/

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}
