@use "variables" as v;
@use "mixins" as m;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../assets/negative-space-black-forest-dawn.jpg);
  background-position: center;
  background-size: cover;

  height: 100vh;
  width: 100%;
  color: v.$primary-color;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;

  & a {
    text-decoration: none;
    color: v.$primary-color;
    font-size: 1.2rem;
    line-height: 1.2;
  }
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .header__title {
    letter-spacing: 0.8px;
    margin-bottom: 30px;
  }

  .header__text {
    padding: 30px 40px;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.8px;
  }
}

.arrow__container {
  text-align: center;

  #arrow--down {
    background-color: white;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;

    padding: 5px;
    margin-bottom: 30px;
    border-radius: 50%;
    width: 37px;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.main__title {
  margin-top: 20px;
  letter-spacing: 0.8px;
}

.main__name {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

.main__pic--rakib {
  //gör media query
  background-image: url(../assets/profiles/Rakib_Square.png);
  @include m.profileInfo();
}

.main__pic--alexandra {
  background-image: url(../assets/profiles/Alexandra_Square.png);
  @include m.profileInfo();
}

.main__pic--lasse {
  background-image: url(../assets/profiles/NoPerson_Square.png);
  @include m.profileInfo();
}

.main__pic--sebastian {
  background-image: url(../assets/profiles/Sebastian_Square.png);
  @include m.profileInfo();
}

.main__description {
  display: flex;
  margin-top: 20px;
  background-color: lightgray;
  padding: 30px;
  border-radius: 5px;
}
